﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<OrderFood.Core.Models.Order>

@{
    ViewData["Title"] = "Details";
    int userId = Convert.ToInt32(UserManager.GetUserId(User));
    var restaurantId = 0;
    int orderSum = 0;
}

<h1>Список заказа</h1>
<table class="table">
    <tr>
        <td>
            Название блюда
        </td>
        <td>
            Цена
        </td>
        <td>
            Количество(порция/штук)
        </td>
    </tr>
    @foreach (OrderFood.Core.Models.Order order in Model)
    {
        var q = order.Restaurant.Food.Where(x => x.Id == order.FoodId).FirstOrDefault();
        restaurantId = order.RestaurantId;

        <tr>
            <td>@q.Name</td>
            <td align="left">@q.Price</td>
            <td>@order.Count</td>
            @{
                orderSum += (@q.Price * order.Count);
            }
        </tr>
    }
    <tr>
        <td>Сумма</td>
        <td>@orderSum</td>
    </tr>
</table>