﻿@model IEnumerable<OrderFood.Core.Models.Basket>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Razor*@

<table class="table">
    <tr>
        <td>
            Дата заказа
        </td>
        <td>
            Ресторан
        </td>
        <td>
            Сумма
        </td>
    </tr>

    @foreach (OrderFood.Core.Models.Basket basket in Model)
    {
    <tr>
        <td>
            <a asp-action="Details" asp-route-id="@basket.Id">@basket.OrderDate</a>
        </td>
        <td>@basket.restaurant.Name</td>
        <td>
            @basket.OrderSum
        </td>
    </tr>
            }

    </table>


