﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model OrderFood.Core.Models.Restaurant

@{
    ViewData["Title"] = "Details";
    var restaurantId = Html.Raw(Model.Id);
    var img1 = "/images/" + Model.Image;
    int userId = Convert.ToInt32(UserManager.GetUserId(User));
    var curUser = "";
    decimal avgRating = 0;
    int countRating = Model.Ratings.Count;

}




<div>
    <h4>Заведение</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            <img src=@img1 alt="Image" />
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<hr />
<h3>Список блюд</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Food)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            @if (User.IsInRole("Client"))
            {
                <td>
                    <a asp-controller="Order" asp-action="Create" asp-route-id="@item.Id" asp-route-restaurantId="@restaurantId" asp-route-userId="@userId">Добавить в корзину</a>
                </td>
            }

            </tr>


        }
    </tbody>
</table>
<hr />
<h3>Рейтинг</h3>
<div>
    @foreach (var item in Model.Ratings)
    {
        avgRating += item.Mark;

    }
    @{
        if (countRating == 0) { avgRating = 0; }
        else { avgRating = avgRating / countRating; }
    }
    <dl class="row">
        <dt class="col-sm-2">
            Средняя оценка
        </dt>
        <dd class="col-sm-10">
            @avgRating
        </dd>
    </dl>

    @if (User.IsInRole("Client"))
    {

        <form method="post" asp-action="setMark" asp-controller="Rating">
            <select name="mark">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" asp-for="@userId" />
            <input type="hidden" asp-for="@restaurantId" />
            <input type="submit" value="Отправить" />
        </form>

    }

    <hr />
    <h2> Комментарии</h2>
    <div>
        @foreach (var item in Model.Comments)
        {
            curUser = UserManager.Users.FirstOrDefault(u => u.Id == item.UserId).UserName;
            <dl class="row">
                <dt class="col-sm-2">
                    @curUser
                </dt>
                <dd class="col-sm-10">
                    @item.Text
                </dd>
            </dl>
        }
    </div>
        <hr />

        @if (User.IsInRole("Client"))
        {
            <div>
                <form asp-action="AddComment" method="post">
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <br />
                        <textarea name="Text"> </textarea>
                    </div>

                    <input type="hidden" asp-for="@userId" />
                    <input type="hidden" asp-for="@restaurantId" />
                    <div class="form-group">
                        <input type="submit" value="Добавить комментарий" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        }

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
