﻿@model IEnumerable<OrderFood.Core.Models.Restaurant>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Razor*@
<h2>Заведения</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
            </td>
            <td width="200"></td>
             <td>
                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            @if (User.IsInRole("Admin"))
            {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            }
            </td>
        </tr>
    }
</table>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Create">Create</a>
}
